@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Sans&display=swap");
@import "intlTelInput.min.css";

.iti__flag {
  background-image: url("../img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../img/flags@2x.png");
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 50%;
  }
}

.fira {
  font-family: "Fira Sans", sans-serif;
}

.pt-sans {
  font-family: "PT Sans", sans-serif;
}

.container {
  justify-content: center;
  margin-top: 4rem;
}

.iti {
  width: 100%;
}

#logo {
  width: 8em;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.btn {
  padding-left: 3rem;
  padding-right: 3rem;
}

form {
  margin: 3rem 0rem;
}
